#toptop {
    /*    position: relative;*/
       background: #8a9eaa url("/GESCI_WEB/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #8a9eaa linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #8a9eaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #8a9eaa -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);

    color: white;
    padding: 5px;
    height:20px;
/*    font-size:30px;*/


}

#top {
    position: relative;
/*    background-color:#fbfafe00;*/
    green: white;
    padding: 3px;
    margin: 0px 0px 1px 0px;
    height:95px;
    border-left:#146884 3px solid;
    border-right:#146884 3px solid;
    
}


#bottom {
 
    height:150px;
    margin: 1px 0px 0px 0px;
    background: #8a9eaa url("/GESCI_WEB/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #8a9eaa linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #8a9eaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #8a9eaa -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);


}
#bottom1 {
    height:150px;
    margin: 1px 0px 0px 0px;
     background: #8a9eaa url("/GESCI_WEB/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #8a9eaa linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #8a9eaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #8a9eaa -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);
}

body{
    height: 760px;
    width: 100%;
    background: #96abe333 url("/Reaven-war/faces/javax.faces.resource/images/ui-bg_highlight-soft_100_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #96abe333 linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #96abe333 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #96abe333 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);


}



#left {
    float: left;
    padding:5px;
    width:165px;
    height:500px;
    margin-right: 20px;
    border-radius:4%;
    background: #8a9eaa url("/GESCI_WEB/faces/javax.faces.resource/images/ui-bg_highlight-hard_80_c4c4c4_1x100.png?ln=primefaces-aristo") 50% 50% repeat-x;
    background: #8a9eaa linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    background: #8a9eaa -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0)));
    background: #8a9eaa -moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(255,255,255,0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DDFFFFFF, endColorstr=#00FFFFFF);
}

#right {
    float:right;
    margin-top: -560px;
    width: 189px;
    height:401px;
    border-radius:8px;
}

#content{
    width:1435px;
    margin-bottom:60px;

}
.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
    height:700px;


}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 261px;    
    height:700px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
    height:700px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 9px 10px;
    font-size: 14px;
    font-style: italic;
    font-weight:bold;
    color: indigo;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #d4d5e41a;
    border-radius: 10px;
    height:50%;
    border: #6d8ca2 solid .06425px;
}



